body {
  background-color: black;
  color: rgb(228, 228, 225);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  margin-top: 1rem;
  padding: 0.5rem;
  width: 5rem;
  border: none;
}

button:hover {
  cursor: pointer;
}

figcaption {
  overflow: hidden;
  text-overflow: ellipsis;
}

header {
  text-align: center;
  position: relative;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  width: 95%;
  height: auto;
}

input {
  width: 88%;
  padding: 0.8rem;
  margin: 1rem 0;
  box-sizing: border-box;
  border-style: solid;
  font-size: medium;
  background-color: rgb(237, 223, 238);
}

.container {
  max-width: 970px;
  margin: 0 auto;
}

footer {
  padding: 0.2rem 5rem;
  background-color: rgba(92, 13, 95, 0.589);
}

#header-image {
  height: 10%;
  width: 10%;
  border-radius: 50%;
  min-width: 8rem;
  margin-bottom: 1rem;
}

.header-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.1rem 0.5rem 1.3rem 0.5rem;
  background-color: rgba(92, 13, 95, 0.753);
  width: 100%;
}

.images {
  color: #000000;
  background-color: rgb(237, 216, 243);
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 1rem;
  margin-bottom: 5rem;
}

#submit {
  margin-bottom: 2rem;
  margin-left: 1rem;
  height: 2.5rem;
}

.unliked {
  background-color: rgb(227, 198, 255);
}

.liked {
  background-color: #d7b4ff;
}
